Pillow>=10.3.0
pytz==2023.3
requests>=2.32.0
timezonefinder==6.2.0
geopy==2.4.1
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0 
freetype-py==2.5.1
spotipy
Flask
unidecode
icalevents
python-socketio
python-engineio
websockets
websocket-client